<div class="jumbotron">
  <h1>Change Maker<h1>
  <h3>Change You Can Beleive In</h3>
</div>
<form action="/results" method="get">
  <div class="form-group">
    <label for="userinput">Please input your number</label>
    <input name="userinput">
  </div>
  <button class="btn" type="submit">Get your Change</button>
</form>
